<style>
  .fundoNavbar {
    background-color: rgba(0, 0, 0, 0.623);
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark fundoNavbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/img/DEVLogoTrans.png" alt=""> DevGames</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="jogos">Jogos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="sobreNos">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="contatos">Contatos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<img class="img-fluid" src="assets/img/DEVRedmen.gif" alt="">
<router-outlet></router-outlet>